@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/ptsans-400.woff2') format("woff2")
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/ptsans-700.woff2") format("woff2")
}

html {
    height: 100%;
}

body {
    width: 1280px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    text-decoration: none;
    background-color: #F2F2F2;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

.page-container  {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

/*Хедер*/

.logo-link {
    display: block;
    width: 140px;
    margin: 0;
}

.page-header-container {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0 70px;
}

.logo-site {
    display: block;
}

.navigation {
    display: flex;
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-align: center;
    margin: 0;
    margin-left: 30px;
}

.navigation-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.navigation-link {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    text-align: center;
}

.navigation-user {
    display: flex;
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: auto, 0;
    margin-left: auto;
}
.user-search {
    display: block;
    width: 44px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    text-align: center;
    align-items: center;
    background-image: url(../images/header-icons/search.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.user-favorite {
    display: block;
    width: 44px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    background-image: url(../images/header-icons/favorite.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.favorite-number {
    display: grid;
    width: 20px;
    min-height: 20px;
    position: absolute;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    background-color: #7DB54F;
    border-radius: 10px;
    text-align: center;
    place-items: center;
}

.btn-want-here {
    display: block;
    width: 160px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #756157;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    border-radius: 4px;
    align-self: center;
}
/*Конец Хедера*/

.main-container {
    flex-grow: 1;
    width: 1200px;
}

/*Индекс Мейн*/
.index-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
}

.index-logo {
    display: block;
    margin: auto auto;
}

.index-title-container {
    width: 1200px;
    padding: 50px 70px 80px;
    background-color: #82B3D3;
    background-image: url(../images/index-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.advantages {
    margin: 0;
}

.advantages-intro-container {
    width: 1200px;
    padding: 70px;
}

.advantages-intro-title {
    width: 620px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.advantages-intro-discription {
    width: 651px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    text-align: center;
    margin: 0 auto;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.advantages-item-image2 {
    order: -1;
}

.advantages-item {
    display: flex;
}

.advantages-item-dark {
    color: #FFFFFF;
    background-color: #82B3D3;
}

.advantages-item-light {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-medium {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-wrapper {
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 385px;
    justify-content: center;
    align-items: center;
}

.advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: inherit;
    text-transform: uppercase;
    text-align: center;
}

.advantages-discription {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: inherit;
    text-align: center;
}

.advantages-item-image1, .advantages-item-image2 {
    display: block;
}

.features-intro-wrapper {
    width: 1200px;
    padding: 60px 70px;
}

.features-intro-title {
    width: 505px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.features-intro-discription {
    width: 490px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    text-align: center;
    margin: 0 auto;
}

.features-list {
    display: flex;
    width: 1200px;
    list-style-type: none;
    padding: 0;
}

.features-item {
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 385px;
    justify-content: center;
}

.features-item-dark {
    background-color: rgba(131, 179, 211, 0.12);
}

.features-item-light {
    background-color: #FFFFFF;
}

.features-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
}

.features-discription {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    text-align: center;
}

.hotel-search {
    margin: 0;
    padding: 90px 70px;
}

.hotel-srch-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
} 

.hotel-srch-discription {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    text-align: center;
}

.hotel-srch-btn {
    display: block;
    width: 376px;
    padding: 8px 50px;
    background-color: #756157;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    border-radius: 4px;
}
.subscribe-index {
    width: 1200px;
    background-color: #82B3D3;
    background-image: url(../images/subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 70px;
    padding-top: 96px;
    padding-bottom: 104px;
    margin: 0;
}

.subscribe-title {
    width: 404px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.subscribe-discription {
    width: 475px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 54px;
}

.email {
    display: flex;
    width: 684px;
    margin: 0 auto;
}
.email-field {
    width: 452px;
    background-color: #F2F2F2;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    border: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 20px;

}

.btn-subscribe {
    width: 232px;
    padding: 8px 50px;
    margin: 0;
    background-color: #82B3D3;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    border: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/*Конец Индекс Мейна*/

/*Начало Каталог Мейна*/
.catalog-filter {
    width: 100%;
    background-color: #82B3D3;
    background-image: url(../images/catalog-filter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 70px;
    padding-top: 35px;
    padding-bottom: 70px;
}

.catalog-title {
    width: 495px;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
    margin: 0;
    margin-left: 70px;
}

.breadcrumbs {
    display: flex;
    width: 114px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 70px;
}

.breadcrumbs-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

.filter-form {
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 70px;
    margin-right: 70px;
}

.filter-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}

.fliter-legend {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.checkbox {
    margin: 0;
    padding: 0;
    border: 0;
}

.checkbox-ul {
    width: 152px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.checkbox-label {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.radio {
    margin: 0;
    padding: 0;
    margin-left: 70px;
    border: 0;
}

.radio-ul {
    width: 152px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.radio-label {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.pricebar {
    display: flex;
    flex-wrap: wrap;
    width: 288px;
    padding: 0;
    margin: 0;
    margin-left: 140px;
    border: 0;
}

.price-label {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.price-bar-min {
    width: 143px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.price-bar-max {
    width: 143px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.filter-buttons {
    display: flex;
    flex-direction: column;
    width: 191px;
    margin: 0;
    margin-top: 56px;
    margin-left: 70px;
}

.button-use {
    width: 191px;
    background-color: #82B3D3;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: 0;
    border-radius: 4px;
    margin: 0;
    margin-bottom: 32px;
}

.button-reset {
    width: 191px;
    background-color: rgba(130, 179, 211, 0);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: 0;
    border-radius: 4px;
}

.filter-results {
    width: 1200px;
    margin: 0;
    padding: 0 70px;
    padding-top: 50px;
    padding-bottom: 60px;
}

.view-type-container {
    display: flex;
    width: 1060px;
    margin: 0 auto;
    margin-bottom: 40px;
    justify-content: space-between;
    align-items: center;
}

.results-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
    margin: 0;
}

.select-list {
    width: 292px;
    padding: 14px 20px 14px 20px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin: 0;
    margin-left: 200px;
}

.view-type {
    display: grid;
    grid-template-columns: 48px 48px 48px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 70px;
    gap: 8px;
}

.view-type > .list-item {
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    margin: 0;
    padding: 0;
}

.view-type > .list-item:first-child {
    border: 2px solid #000000;
    border-radius: 4px;
    margin: 0;
    padding: 0;
}

.list-item {
    min-width: 48px;
}

.view-link {
    display: block;
    width: 48px;
    height: 48px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    text-decoration: none;
    box-sizing: border-box;
}

.view-link-grid {
    background-image: url(../images/view-type-icons/grid.svg);
    background-repeat: no-repeat;
    background-position: 17px 16px;
}

.view-link-cards {
    background-image: url(../images/view-type-icons/card.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.view-link-list {
    background-image: url(../images/view-type-icons/list.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.hotels-results {
    display: flex;
    flex-wrap: wrap;
    width: 1060px;
    list-style-type: none;
    padding: 0;
    padding-bottom: 40px;
    margin: 0 auto;
    justify-content: start;
    gap: 20px;
}

.hotels-item {
    display: flex;
    flex-wrap: wrap;
    width: 340px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}

.hotels-img-link {
    display: block;
    width: 300px;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
}

.hotel-title-link {
    width: 300px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
}

.hotel-title {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
}

.hotel-type {
    width: 140px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.hotel-price {
    width: 140px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    text-align: end;
}

.button-details {
    width: 140px;
    margin-bottom: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #756157;
    text-align: center;
    border-radius: 4px;
}

.favorite-btn {
    width: 140px;
    margin-bottom: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #82B3D3;
    text-align: center;
    border-radius: 4px;
    border: 0;
}

.favorite-btn-checked {
    width: 140px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #7DB54F;
    text-align: center;
}

.stars {
    width: 140px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333; 
}

.raiting-btn {
    width: 140px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    text-transform: uppercase;
    background-color: #F2F2F2;
    border-radius: 4px;
    text-align: center;
}

.pagination {
    display: flex;
    width: 400px;
    list-style-type: none;
    padding: 0;
    padding-top: 40px;
    margin: 0;
    justify-content: space-between;
}

.pagination-page > a {
    display: block;
    min-width: 60px;
    min-height: 60px;
    text-align: center;
    align-content: center;
    border: 0;
    border-radius: 4px;
}

.page-current {
    background-color: #F2F2F2;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
    text-decoration: none;
}

.page-link {
    background-color: #82B3D3;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    text-decoration: none;
} 

.page-dotbreak {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    text-decoration: none;
}

.subscribe-catalog {
    width: 1200px;
    margin: 0;
    padding: 0 70px;
    padding-top: 96px;
    padding-bottom: 104px;
    text-align: center;
}

.subscribe-catalog-intro {
    width: 404px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 20px;
}

.subscribe-catalog-discription {
    width: 475px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    margin: 0 auto;
    margin-bottom: 54px;
}
/*Конец Каталог Мейнa*/

.page-footer {
    display: flex;
    width: 1200px;
    align-items: center;
    margin: 0;
    padding: 0 70px;
    padding-top: 40px;
    padding-bottom: 35px;
}

/*Футер*/
.social-links-list {
    display: flex;
    width: 142px;
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.social-link {
    display: block;
    color: #000000;
    text-decoration: none;
}

.social-link-vk {
    background-image: url(../images/social-icons/vk.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.social-link-telegram {
    background-image: url(../images/social-icons/telegram.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.social-link-youtube {
    background-image: url(../images/social-icons/youtube.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.contacts-address {
    font-style: inherit;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    margin-left: auto;
}

.contacts-phone {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.academy-link {
    display: block;
    color: #000000;
    text-decoration: none;
    margin: 0;
    margin-left: auto;
    min-height: 40px;
    background-image: url(../images/html-academy.svg);
    background-repeat: no-repeat;
    background-position: center;
}
/*Конец Футера*/

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
    visibility: collapse; 
    margin: 0;
    color: initial;
    visibility: hidden; 
}